@media (max-width:1024px){
    .banner-row{
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;
    }
    .banner-title{
        font-size: 24px;
    }
    .banner-sub-title{
        font-size:16px;
    }
}
@media (max-width:768px){
    .banner-row{
        display: flex;
        flex-direction: column;
        max-width: 670px;
        margin: 0 auto;
    }
}
@media (max-width:425px){
    .banner-row{
        display: flex;
        flex-direction: column;
        max-width: 330px;
        margin: 0 auto;
    }
    .banner-inner{
        padding: 30px 20px 40px 20px;
    }
}
@media (max-width:425px){
    .banner-row{
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
    }
    .banner-inner{
        padding: 30px 10px 40px 10px;
    }
}