@media (max-width:1024px){
    .news-title{
        margin-left: 120px;
    }
    .news-wrapper{
        display: grid;
        max-width:800px;
        margin: 0 auto;
        grid-template-columns:6fr 6fr;
    }
}
@media (max-width:768px){
    .news-wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .container{
        max-width: 768px;
        margin:  0 auto;
    }
    .news-title{
        margin-left: 60px;
    }
    .news-block{
        max-width: 325px;
        min-height: 300px;
    }
    .news-block img {
        max-width: 325px;
    }
}
@media (max-width:425px){
    .news-wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .container{
        max-width: 425px;
        margin:  0 auto;
    }
    .news-title{
        margin-left: 60px;
    }
    .news-block{
        max-width: 300px;
        min-height: 300px;
    }
    .news-block img {
        max-width: 300px;
    }
}