@media (min-width:1024px){
    .banner-row{
        display: flex;
        flex-direction: row;
        max-width: 1185px;
        margin: 0 auto;
    }
    .banner-title{
        font-size: 26px;
    }
}