.news-title{
    color: var(--light);
    font-size: 40px;
    font-weight: 900;
    line-height: 144%; /* 57.6px */
    text-transform: uppercase;
    margin-bottom: 40px;
}
.news-text-title{
    color: var(--light);
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top:20px ;
}
.news-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
}
.news-block{
    margin-bottom: 20px; 
}
.news-item{
    background-color: var(--danger);
    border-radius: 10px;
    cursor: pointer;
}
.news-item:hover{
    background-color: #22222f;
}
.news-sub-title{
    padding-top: 13px;
    padding-bottom: 43px;
    /* width: 344px; */
    color: #DFDFDF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}